<%layout("/layouts/boilerplate.ejs")%>
 <div class="row mt-3"> 
    <div class="col-8 offset-2">
    <h3>Create a New Lisitng</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input name="listing[title]" placeholder="enter title" class="form-control"  required>
       <div class="invalid-feedback">Enter valid title</div>
        </div>
       
         <div class="mb-3">
        <lable for="description" class="form-label" >Enter description</lable>
        <input name="listing[description]" placeholder="enter description" class="form-control"  required> 
         </div>
         
       
        <div class="mb-3">
        <lable for="image" class="form-label">Uploads image </lable>
        <input type="file" name="listing[image]"  class="form-control">
        </div> 
         <div class="row"> 
        <div class="mb-3 col-md-4">
        <lable for="price" class="form-label" >Enter price</lable>
        <input name="listing[price]" placeholder="enter price" class="form-control"  required>
         <div class="invalid-feedback">Enter valid price</div>
        </div>
        
         
         <div class="mb-3 col-md-8">
            <lable for="country" class="form-label" >Enter country</lable>
        <input name="listing[country]"   required placeholder="enter country" type="text" class="form-control">
         <div class="invalid-feedback">Enter valid country</div>
         </div>
          
         </div>
        <div class="mb-3">
            <lable for="location" class="form-label" >Enter location</lable>
        <input name="listing[location]"  required placeholder="enter location" type="text" class="form-control">
          <div class="invalid-feedback">Enter valid location</div>
        </div>
         

         
         
        <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    </div>
 </div>